<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="">Mashbir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="products/admin">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="categories/admin">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="stores/index">Stores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="notification/send">Send notification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tweets/search">Search tweets</a>
      </li>
    </ul>
  </div>
</nav>

<div [hidden]="notification == null" class="alert alert-warning">
  {{notification}}
</div>

<div style="margin:20px 10px;">
  <!-- This is the page container -->
  <router-outlet></router-outlet>
</div>
